<ng-template #content let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{popUpData.title._content}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.close('Save click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <dl>
    <dt> Owner</dt>
    <dd>{{popUpData.owner.username}}</dd>
    <dd *ngIf="popUpData.owner.realname !== '' && popUpData.owner.realname !== popUpData.owner.username">{{popUpData.owner.realname}}</dd>
    <dt> Posted date</dt>
    <dd>{{popUpData.dates.posted | date }}</dd>
    <dt> Taken date</dt>
    <dd>{{popUpData.dates.taken | date  }}</dd>
    <dt *ngIf="popUpData.description._content !== ''"> Description</dt>
    <dd *ngIf="popUpData.description._content !== ''" [innerHTML]="popUpData.description._content"></dd>
    <div *ngIf="popUpData.location">
      <dt> Location</dt>
      <dd>{{popUpData.location.country._content}} - {{popUpData.location.region._content}} - {{popUpData.location.locality._content}}</dd>
    </div>
    <dt> Number of views</dt>
    <dd>{{popUpData.views}}</dd>
    <dt> Owner art</dt>
    <div class="d-flex" style="height: 200px;overflow-y: auto">
      <img class="p-3" *ngFor="let img of popUpData.ownerArt" src="https://live.staticflickr.com/{{img.server}}/{{img.id}}_{{img.secret}}.jpg" style="width: auto;height: 100%;position: relative">
    </div>
  </dl>
</div>
</ng-template>
<button id="openPopupModal" class="btn btn-lg btn-outline-primary" hidden (click)="open(content)"></button>
